elasticsearch==8.13.0
elasticsearch_dsl
falcon_evaluate==0.1.13.0
flask==3.0.1
mistralai==0.1.8
numpy==1.26.3
pandas==2.1.4
rouge_score==0.1.2
sentence_transformers
sqlalchemy
torch==2.2.2
transformers==4.39.3




