torch==2.2.2
transformers==4.39.3
mistralai==0.1.8
flask==3.0.1
numpy==1.26.3
pandas==2.1.4
elasticsearch==8.13.0
elasticsearch_dsl
sentence_transformers
sqlalchemy
rouge_score==0.1.2
falcon_evaluate==0.1.13.0